// Forms
.form-text {
  display: block;
  margin-top: 0.3rem;
  color: $secondary-color;

  &:hover {
    border: none;
  }
}

input {
  margin: 1.2rem 0;

  &[type='text'],
  &[type='date'],
  &[type='submit'],
  button {
    display: block;
    width: 100%;
    padding: 0.4rem;
    font-size: 1.2rem;
    border: 1px solid $light-color;
  }
}