// Table
table,
tr {
  th {
    @include p;
    text-align: left;
    background: $secondary-color;
  }

  td {
    @include p;
    text-align: left;
  }

  @media #{$media-tablet} {
    font-size: 77%;
    overflow: hidden;
  }
}