// Color Variables
$primary-color: #ff8700;
$secondary-color: #ccc;
$light-color: #f4f4f4;
$dark-color: #333333;
$success-color: #28a745;
$danger-color: #dc3545;

// Media variable
$media-tablet:'screen and(max-width: 700px)';