// Buttons 

.btn {
  display: inline-block;
  background: $secondary-color;
  color: $dark-color;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;

  &:hover {
    opacity: 0.8;
  }

  &--link {
    background: none;
    padding: 0;
    margin: 0;
  }

  &--block {
    display: block;
    width: 100%;
  }

  &--sm {
    font-size: 0.8rem;
    padding: 0.3rem 1rem;
    margin-right: 0.2rem;
  }
}

.alert {
  @include my-1;
  padding: 0.7rem;
  opacity: 0.9;
  background: $light-color;
  color: $dark-color;
}

.btn,
.bg,
.alert {
  &--success {
    background: $success-color;
    color: $light-color;
  }

  &--danger {
    background: $danger-color;
    color: $light-color;
  }

  &--dark {
    background: $dark-color;
    color: $light-color;
    border: $dark-color solid 1px;
  }

  &--light {
    background: $secondary-color;
    color: $dark-color;
    border: $secondary-color solid 1px;
  }

  &--primary {
    background: $primary-color;
    color: $light-color;
  }
}