// Google fonts
@import url('http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700');

// Font Variables and silent selector
$font-stack: 'Roboto',
'Open Sans',
sans-serif;

%main-font {
  font-family: $font-stack;
  font-weight: 400;
}

// Text Styles
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

// Text classes
$textstyles:(center, right, left);

@each $style in $textstyles {
  .text--#{$style} {
    text-align: #{$style};
  }
}

.text {
  &--primary {
    color: $primary-color;
  }

  &--dark {
    color: $dark-color;
  }
}

// Padding & margin mixins
@mixin p {
  padding: 0.5rem;
}

@mixin py {
  padding: 0.5rem 0;
}

@mixin m {
  margin: 0.5rem;
}

@mixin my {
  margin: 0.5rem 0;

}

// Margin classes
$spaceamounts:(1, 2);

@each $space in $spaceamounts {
  .m-#{$space} {
    margin: #{$space}rem;
  }

  .my-#{$space} {
    margin: #{$space}rem 0;
  }

  .p-#{$space} {
    padding: #{$space}rem;
  }

  .py-#{$space} {
    padding: #{$space}rem 0;
  }
}

// Grid
.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;

  @media #{$media-tablet} {
    grid-template-columns: 1fr;
  }
}